<article class="post pt-3">
	<figure>
		<img ng-src="{{news.articles[postId].urlToImage}}">
	</figure>
	<header>
		<h2 class="post_title mt-3">{{news.articles[postId].title}}</h2>
		<p class="post_byline">by {{news.articles[postId].author || 'Staff Reporter'}} | Posted {{news.articles[postId].publishedAt | timeSince}} ago</p>
	</header>
	<section>
		<p>{{news.articles[postId].content}}</p>
		<p>This is just an extra useless static run-on paragraph to fatten up the truncated content that this NewsAPI serves, so the post looks more like an actual blog post and not a teaser.  In the event that this was an actual blog post, of course I would not have to do this.  Thanks for reading anyway!</p>
		<p><a href="{{news.articles[postId].url}}" target="_blank">Click to read the rest of the article at {{news.articles[postId].url}}.</p></a>
		<p class="post_navigation"><b><a href="/"><i class="fas fa-arrow-alt-circle-left"></i> Back</a></b></p>
	</section>
</article>